/* Theme */

main {
	background: rgb(110, 63, 192);
  	background: linear-gradient(90deg,
    rgba(110, 63, 192, 1) 0%,
    rgba(110, 63, 192, 1) 31%,
    rgba(175, 65, 163, 1) 100%);
  	background-size: cover;
  	background-position: center;
  	color: white;
	height: 100%;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}